<article class="Comment">
	<div class="Comment-content">
    <p class="Comment-author">
			<a href="#"><strong>{{author}}</strong</a>
		</p>
		<p class="Comment-text">
			{{text}}
		</p>
	</div>
</article>
