<h3 class="">Leave a comment!</h3>
<input class="comment-field" id="comment-name" type="text" name="name" placeholder="Your Name">
<input class="comment-field" id="comment-content" type="text" name="comment" placeholder="Your Comment">
<button type="button" class="leave-comment-button">Leave Comment</button>
