<header>
	<nav class="navbar">
		<ul class="navlist">
			<li id="home" class="navitem navlink"><a href="">Home</a></li>
			<li id="news" class="navitem navlink"><a>News</a></li>
			<li id="sports" class="navitem navlink"><a>Sports</a></li>
			<li id="music" class="navitem navlink"><a>Music</a></li>
			<li id="gaming" class="navitem navlink"><a>Gaming</a></li>
			<li id="health" class="navitem navlink"><a>Health</a></li>
		</ul>
		<ul class="navlist">
			<li class="navitem">
				<h1 class="site-title">WAHOO!</h1>
			</li>
				<li class="navitem navbar-search">
					<input type="text" id="navbar-search-input" placeholder="Search">
					<button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
				</li>
		</ul>
	</nav>
</header>
