<main class="error-container">
	<divclass="error-text">
		<h2>404</h2>
	</div>
	<div class=error-img>
		<img class="error-image" src="http://i0.kym-cdn.com/photos/images/original/001/324/383/cdb" />
	</div>
	<div class="error-text">
		<h3>Ohhhh. Mamma Mia!</h3>
		<h3>We couldn't find that page!</h3>
	</div>
</main>
