<main class="error-container">
	<h2 class="error-item error-heading">404</h2>
	<div class="error-item">
	<img class="error-image" src="http://i0.kym-cdn.com/photos/images/original/001/324/383/cdb">
	</div>
	<h3 class="error-item">Ohhhh. Mamma Mia!</h3><br />
	<h3 class="error-item">We couldn't find that page!</h3>
</main>
